**/.DS_Store
*.pyc
.certora_internal/
cryptosafe.db
*.db*
tags
scripts/cvl_manual.html
**/node_modules
*.html
.venv/
build/
*.egg-info/
emv-*
.certora-*
composer/testing/**/certora/
test_scenarios/**/certora/
local/
test_scenarios/**/certora/
test_scenarios/**/out/
test_scenarios/**/lib/forge-std
