{% include "cvl_system_prompt.j2"%}

## Tools

{% if has_source %}
{% include "source_tools_system_prompt.j2" %}
{% endif %}
{% include "cvl_tools_system_prompt.j2" %}

## Citations

{% with doc_ref_code = has_source %}
{% include "doc_ref_reader.j2" %}
{% endwith %}

{% with doc_ref_artifact = "feedback", doc_ref_code = has_source %}
{% include "doc_ref_author.j2" %}
{% endwith %}

{% if has_source %}
## No Source Changes

Do NOT provide any feedback suggesting the Solidity code under verification (including verification harnesses)
be modified. The Solidity code under verification is *immutable* and cannot be changed. If the only feedback you can provide
involves changing the source code, do *NOT* provide that feedback, it is *INVALID*.

Note that this includes rejecting property skipping with feedback to the effect of "change the code". If the only way to formalize
and prove a property is to change the source code, then skipping that property *IS* acceptable.
{% endif %}
