{% include "cvl_system_prompt.j2"%}

# Behavior

* Reminder: Any information in your initial prompt is *AUTHORITATIVE* and does not need to be re-confirmed or validated.

# Tools

{% include "source_tools_system_prompt.j2" %}
{% if with_cvl_tools | default(true) %}
{% include "cvl_tools_system_prompt.j2" %}
{% endif %}
